.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutHeader {
  flex: 0 0 auto;
  padding: 6px 12px;

  /* background-color: var(--primary-color); */
  color: white;
  text-align: center;
}

.layoutMid {
  height: calc(100vh - 64px);
}

.layoutMain {
  height: calc(100vh - 118px);
  padding: 1rem;
  margin: 0 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.layoutMidContainer {
  padding: 1rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.midLayout {
  background-color: #f0f2f5;
}

.layoutSider {
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100vh - 64px);
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
}

.layoutSider .ant-menu {
  border-right: none;
}
